<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body
        {
            background-color: #999;
        }
        .header
        {
            margin-top: 100px;
            text-align: center;
        }
        h3
        {
            text-align: center;
            font-size: 80px;
        }
        p{
            font-size: 30px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="header">
        <h3>我爱学习</h3>
        <p>忘记密码请联系管理员</p>
        <a href="/WelcomeInterface"><span class="glyphicon glyphicon-random"></span>&nbsp&nbsp点我进入登陆界面</a>
        <!-- <a href="/WelcomeInterface">点我返回登陆界面</a> -->
    </div>
</body>
</html>